<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.scoolsocialmedia">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.NotiificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchUsersActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageChatRooms"
            android:exported="false" />
        <activity
            android:name=".admin.ManagePostsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".utils.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".loginsignup.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".ChatRoom.ChatEntry"
            android:exported="false" />
        <activity
            android:name=".activities.ChatRoomNew"
            android:exported="false" />
        <activity
            android:name=".activities.GroupChat"
            android:exported="false" />
        <activity
            android:name=".ChatRoom.CreateChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.CreateProfile"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:parentActivityName=".activities.ChatRoomsActivity" />
        <activity android:name=".activities.ImageDetailActivity" />
        <activity android:name=".activities.CreateImagePostActivity" />
        <activity
            android:name=".activities.ChatRoomsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:theme="@style/FollowersTheme" />
        <activity
            android:name=".bookCity.BookDetail"
            android:exported="false"
            android:parentActivityName=".bookCity.BookCityMain" />
        <activity android:name=".bookCity.UploadBookActivity" />
        <activity
            android:name=".bookCity.BookCityMain"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activities.CreateNoImagePostActivity" />
        <activity
            android:name=".Proposals.ProposalListActivity"
            android:exported="false"
            android:theme="@style/FollowersTheme" />
        <activity
            android:name=".Proposals.ViewProposalActivity"
            android:exported="false"
            android:theme="@style/FollowersTheme" />
        <activity
            android:name=".activities.PostDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FollowersActivity"
            android:exported="false"
            android:theme="@style/FollowersTheme" />
        <activity
            android:name=".Profile.EditProfile"
            android:parentActivityName=".Profile.ProfileActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".loginsignup.signupActivity"
            android:exported="false" />
        <activity
            android:name=".loginsignup.loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>